<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QobuzDownloaderX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
  <userSettings>
    <QobuzDownloaderX.Properties.Settings>
      <setting name="savedFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="savedEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="savedPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="albumTag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="artistTag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="albumArtistTag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="trackTag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="totalTracksTag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="discTag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="totalDiscsTag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="genreTag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="isrcTag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="upcTag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="copyrightTag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="yearTag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="explicitTag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="imageTag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="commentTag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="composerTag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="trackTitleTag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="commentText" serializeAs="String">
        <value />
      </setting>
      <setting name="quality" serializeAs="String">
        <value>q4</value>
      </setting>
      <setting name="qualityFormat" serializeAs="String">
        <value>27</value>
      </setting>
      <setting name="audioType" serializeAs="String">
        <value>.flac</value>
      </setting>
      <setting name="savedUserID" serializeAs="String">
        <value />
      </setting>
      <setting name="savedUserAuthToken" serializeAs="String">
        <value />
      </setting>
      <setting name="savedAltLoginValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="savedArtSize" serializeAs="String">
        <value>max</value>
      </setting>
      <setting name="typeTag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="savedMaxLength" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="savedFileNameTemplate" serializeAs="String">
        <value>Track - Title</value>
      </setting>
      <setting name="producerTag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="labelTag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="involvedPeopleTag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="initialListSeparator" serializeAs="String">
        <value>;</value>
      </setting>
      <setting name="listEndSeparator" serializeAs="String">
        <value> &amp; </value>
      </setting>
      <setting name="mergePerformersTag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="releaseDateTag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="urlTag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="appId" serializeAs="String">
        <value />
      </setting>
      <setting name="appSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="getGoodiesTag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="savedFolderNameTemplate" serializeAs="String">
        <value>Artist - Album - Quality</value>
      </setting>
      <setting name="hideTagsSection" serializeAs="String">
        <value>False</value>
      </setting>
    </QobuzDownloaderX.Properties.Settings>
  </userSettings>
</configuration>
